<p>
  <strong>Qestion:</strong>
  <%= @round.question %>
</p>
 
<p>
  <strong>Suggestion:</strong>
  <%= @round.suggestion%>
</p>
<p>
  <strong>Deadline:</strong>
  <%= @round.deadline %>
</p>