<div id="wrapper-font">
<!-- 	<div id='home-head'>
		<h1>Questions</h1>
	</div> -->
	
	<div class="blog-summary">
		<!-- <div class="row">
			<div class="span12" style="width: 98.4%;">
			    <ul class="nav nav-tabs">
				    <li class="active"><a href="#">All Questions</a></li>
				    <li><a href="#">Voting</a></li>
	            </ul>
	        </div>
		</div> -->

		<h4>Question</h4>

		<table class="table">
			<% @rounds.each do |round| %>
	    		<tr>
	    			<td><%= round.id %></td>
	    			<td><%= link_to (round.question), vote_path(round) %></td>
	    			<td>Answers : 4 (<%= round.deadline %>)</td>
	    			<td><a href="#">Add More Answer</a></td>
	    		</tr>
    		<% end %>
    	</table>

	</div>
</div><!-- end wrapper -->

