<div id="wrapper">
	<div id='home-head'>
		<h1>Questions</h1>
	</div>
	
	<div class="blog-summary">
		<div class="row">
			<div class="span12" style="width: 98.4%;">
			    <ul class="nav nav-tabs">
				    <li class="active"><a href="#">All Questions</a></li>
				    <li><a href="#">Voting</a></li>
			    </ul>
			</div>
		</div>

	    <table class="table table-striped">
	    	<tr>
	    		<th>No</th>
	    		<th>Question</th>
	    		<th>Answer</th>
	    		<th>Deadline</th>
	    		<th>More Answer</th>
	    	</tr>
	    <% @rounds.each do |round| %>
	    	<tr>
	    		<td><%= round.id %></td>
	    		<td><%= round.question %></td>
	    		<td>4</td>
	    		<td><%= round.deadline %></td>
	    		<td><a href="#">Add</a></td>
	    	</tr>
	    <% end%>
		</table>
	</div>
</div><!-- end wrapper -->

