<div id="wrapper">
	<div id='home-head'>
		<h1>All Questions</h1>
	</div>
	<div class="navbar">
		<div class="navbar-inner">			
			<ul class="nav">
				<li class="<%= 'active' if params[:controller] == 'users_controller' %>">
					<%= link_to "Home", users_path %>
				</li>
				<li class="<%= 'active' if params[:controller] == 'rounds_controller' %>">
					<%= link_to "Vote", votes_path %> 
				</li>       
			</ul>
		</div>
	</div>
</div><!-- end wrapper -->
<div class="wrapper">
	<section class="contentWrapper">
		<div id="mainbar">
			<h4 class="pagetitle">All Question</h4>
		    <div class="nav-left">
			    <ul class="nav nav-tabs">
				    <li class="active"><a href="#">Home</a> </li>
				    <li><a href="#">Suggestion</a></li>
				    <li><a href="#">Voting</a></li>
	            </ul>
	        </div>
		</div>
	</section>
	<section>
		<div class="blog-summary">
			<h4 class="blog-title">What do u want to eat today?</h4>
			<div class="meta-info">
				<span class="postedDate"> 03-28-12</span>
				by David Fullerton.
				<a href="http://blog.stackoverflow.com/2012/03/careers-2-0-new-features-for-hiring-developers/#comments">5 Answers</a>
			</div>
		</div>
	</section>
</div>
