<% if @round %>

	<div align='center' id="view_completed_round">
	  <table class="tbl-user table">
	  	<tr>
	  		<td>Question</td>
	  		<td>:</td>
	  		<td><%= @round.question %></td>
	  	</tr>
	  	<tr>
	  		<td>Top Answer</td>
	  		<td>:</td>
	  		<td>
	  			<% if !@txt_answer %>
	  				<span>No answer of this voting round!</span>
	  			<% else %>
	  				<%= @txt_answer %>
	  			<% end %>
	  		</td>
	  	</tr>
	    <tr>
	      <td colspan="3">
	        <%= link_to '<input value="Back" type="button" class="btn btn-info" />'.html_safe, votes_path %>
	      </td>
	    </tr>
	  </table>
	</div>
<% end %>