<div id="wrapper">
	<div class="container-fluid">
        <div class="row-fluid">
          	<div class="span2">
          		<h3>Action</h3>
                <ul class="nav nav-tabs nav-stacked">
			    	<li><a href="#">Management</a></li>
					<li><a href="#">User</a></li>
					<li class="#"><a href="#">Round</a></li>
					<li class="active"><a href="#">Suggestion</a></li>
			    </ul>
          	</div>
          	<div class="span10">
          		<h3>Suggestion Management</h3>
      		    <table class="table table-bordered">
      		    	<tr class="success">
						<th>No</th>
						<th>Round</th>
						<th>Deadline</th>
						<th>Amount Answer</th>
						<th>Suggestion</th>
						<th>Action</th>
					</tr>
					